################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComicsShelf/bin
/ComicsShelf/obj
/ComicsShelf.Android/bin
/ComicsShelf.Android/obj
/ComicsShelf.Android/ComicsShelf.Android.csproj.user
/ComicsShelf.UWP/bin
/ComicsShelf.UWP/obj
/ComicsShelf.UWP/ComicsShelf.UWP.csproj.user
/ComicsShelf.iOS/bin
/ComicsShelf.iOS/obj
