################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComicsShelf/bin
/ComicsShelf/obj
/ComicsShelf.Android/obj
/ComicsShelf.UWP/obj
