<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="181008" android:versionName="18.10.08" package="com.friendship.ComicsShelf">
   <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="25" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   <application android:label="Comics Shelf" android:icon="@mipmap/icon"></application>
</manifest>